# this file goes into Git so that if someone clones the repo,
# they know how to config. env variables

FLASK_APP=run.py
FLASK_ENV=development

SECRET_KEY=secret_key
JWT_SECRET_KEY=your_jwt_secret_key

DATABASE_URL=postgresql+psycopg://decision_user:naqvi@localhost:5432/decision_journal